<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Db4oSubscriptionStorageConfig" type="NServiceBus.Unicast.Subscriptions.Db4o.Db4oSubscriptionStorageConfig, NServiceBus.Unicast.Subscriptions.Db4o" />
  </configSections>
  <Db4oSubscriptionStorageConfig />
</configuration>